# Logs
logs
*.log

# Compiled output
dist/
build/

# Dependency directories
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jest coverage output
coverage/

# TypeScript build output
*.tsbuildinfo

# Yarn && npm lock files
package-lock.json
yarn.lock